:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

.app {
  max-width: 48rem;
  margin: 0 auto;
  padding: 4rem 1rem;
}
